@import "../main/scroll-box";

@example-grid-padding: 30px;

html,
body {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

#site {
  padding: 50px;
}

.scroll-box-example {

  .scroll-box {
    height: 200px;
    background: #f4f4f4;
  }

  .card {
    width: calc((100% - ((@example-grid-padding * 3))) / 3);
    display: inline-block;
    vertical-align: top;
    margin: (@example-grid-padding / 2);
  }
}
