@import "../main/scroll-box";

@example-grid-padding: 30px;

html,
body {
  height: 100%;
  width: 100%;
  background: #f8f8f8;
  margin: 0;
  padding: 0;

  input,
  select {
    max-width: 200px;
  }
}

#demo {
  padding: 50px 0;
}

.scroll-box {
  &_example {
    height: 70vh;
    background-color: rgba(74, 202, 255, 0.88);
    border-radius: 5px;
  }
  &__clouds {
    width: 4289px;
    height: 1067px;
    background-image: url('./panorama.jpg');
    background-size: contain;
  }
}
